<!DOCTYPE html>
<html>
<head>
    <title>Are you a cannabis user ?</title>
</head>
<body>

    <h1>Welcome to our CannAPI </h1>
    <p>On this page, you can learn if your are a Cannabis Consumer.</p>

    <button onclick="redirectToPredictPage()">Upload</button>
    <button onclick="redirectToProjectLineupPage()">Project Lineup</button>


    <script>
    function redirectToPredictPage() {
        window.location = "/upload.html";
    }
    function redirectToProjectLineupPage() {
        window.location = "/project-lineup.html";
    }
    </script>
</body>
</html>
